<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Page-Enter" contect="revealTrans(duration=5,transtion=7)">
    <meta http-equiv="Page-Exit" contect="revealTrans(duration=5,transtion=8)">
    <title>商家首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="./amazeui/css/amazeui.min.css" />
    <link rel="stylesheet" href="./font/iconfont.css">
    <link rel="stylesheet" href="./default/style.css" />
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/vue.js"></script>
    <script src="./js/my.js"></script>
</head>

<body>
    <div class="container">
        <!-- 加载动画 -->
        <div id="loading">
            <img src="./font/loading.gif" alt="加载中...">
        </div>
        <header data-am-widget="header" class="am-header am-header-default my-header">

            <h1 class="am-header-title">
                <a href="#title-link" class="">积分商城</a>
            </h1>
            <div class="am-header-right am-header-nav">
                <a href="#right-link" class="">
                    <i class="am-header-icon  iconfont icon-share"></i>
                </a>
            </div>

        </header>
        <!-- banner -->
        <div class="carousel-wrap" id="carousel">
            <!-- 轮播图 -->
            <transition-group tag="ul" class='slide-ul' :name="transition" v-swipeleft="left" v-swiperight="right">
                <!-- 自定义事件 -->
                <li v-for="(list,index) in binner" :key="index" v-show="index===currentIndex">
                    <a :href="list.url">
                        <img :src="list.image">
                    </a>
                </li>
            </transition-group>
            <div class="carousel-items">
                <span v-for="(item,index) in binner.length" :class="{'active':index===currentIndex}"></span>
            </div>
        </div>
        <div class="title">商品列表</div>
        <div class="am-cf am-g">
            <ul class="am-avg-sm-2 my-shop-product-list">
                <li v-for="(v,index) in page.list" :key="index">
                    <a href="./dec.html">
                        <div class="am-panel am-panel-default">
                            <div class="am-panel-bd">
                                <img class="am-img-responsive" :src="v.photo" />
                                <h3>
                                    <a href="#">{{v.name}}</a>
                                </h3>
                                <div v-if="v.shop_goods_sorts.length!=0">
                                    <span class="list-product-price-span">￥{{v.shop_goods_sorts[0].price}}
                                        <span>+{{v.shop_goods_sorts[0].integration}}积分 </span>
                                    </span>
                                    <s class="list-product-commission-span"> ￥{{v.shop_goods_sorts[0].originalPrice}}</s>
                                </div>
                                <div v-else>
                                    <span class="list-product-price-span">
                                        暂无商品价格
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                
            </ul>
            <ul data-am-widget="pagination" class="am-pagination am-pagination-select">
                <li class="am-pagination-prev ">
                    <a href="javascript:;" class="" @click="upto">上一页</a>
                </li>
                <li class="am-pagination-select">
                    <select v-model="pageIndex">
                        <option v-for="(v,index) in page.total" :key="index" :value="v" class="">{{v}} / {{page.total}}</option>
                    </select>
                </li>
                <li class="am-pagination-next " @click="downto">
                    <a href="javascript:;" class="">下一页</a>
                </li>
            </ul>
        </div>


        <footer data-am-widget="footer" class="am-footer am-footer-default" data-am-footer="{  }">
            <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
            <div class="am-footer-miscs ">
                <p>CopyRight©2014 AllMobilize Inc</p>
                <p>京ICP备13033158</p>
            </div>
        </footer>
        <!--底部-->
        <div data-am-widget="navbar" class="am-navbar am-cf my-nav-footer " id="">
            <ul class="am-navbar-nav am-cf am-avg-sm-4 my-footer-ul">
                <li>
                    <a href="./index.html" class="active">
                        <span class="icon-homepage_fill iconfont"></span>
                        <span class="am-navbar-label">首页</span>
                    </a>
                </li>
                <li>
                    <a href="./sort.html" class="">
                        <span class="icon-createtask iconfont"></span>
                        <span class="am-navbar-label">分类</span>
                    </a>
                </li>
                <li>
                    <a href="./cart.html" class="">
                        <span class="icon-publishgoods_fill iconfont"></span>
                        <span class="am-navbar-label">购物车</span>
                    </a>
                </li>
                <li style="position:relative">
                    <a href="./user.html" class="">
                        <span class="icon-people iconfont"></span>
                        <span class="am-navbar-label">我的</span>
                    </a>
                </li>
            </ul>



        </div>
    </div>

    <script src="./js/axios.min.js"></script>
    <script src="./js/index.js"></script>
</body>

</html>