<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>商品分类</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="amazeui/css/amazeui.min.css" />
  <link rel="stylesheet" href="./font/iconfont.css">
  <link rel="stylesheet" href="default/style.css" />
  <link rel="stylesheet" href="./css/sort.css">
  <script src="./js/vue.js"></script>
  <script src="./js/my.js"></script>
</head>

<body>
  <div class="container">
      <div id="loading">
          <img src="./font/loading.gif" alt="加载中...">
      </div>
    <header data-am-widget="header" class="am-header am-header-default my-header">

      <h1 class="am-header-title">
        <a href="#title-link" class="">商品分类</a>
      </h1>

    </header>

    <div class="gray-panel">
      <div class="my-search-title-panel">
        <div class="am-input-group">
          <input type="text" v-model="search" class="am-form-field am-radius" placeholder="商品搜索">
          <span class="am-input-group-btn">
            <button class="am-btn am-radius" type="button" @click="search_shop">
              <span class="am-icon-search"></span>
            </button>
          </span>
        </div>
      </div>
    </div>
    <section data-am-widget="accordion" class="am-accordion am-accordion-gapped" data-am-accordion='{"multiple": true}'>
        
      <dl class="am-accordion-item " :class="{'am-active':sortIndex==index}" v-for="(v,index) in arr" :key="index">
          
        <dt class="am-accordion-title" @click="toggle(index)">{{v.name}}</dt>
        <transition name="list">
        <dd class="am-accordion-bd am-collapse am-in" v-if="sortIndex==index">
          <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
          <div class="am-accordion-content">
            <dl class="my-category-dl">
              <dt style="display:none;">
                <a href="#" class="red2 am-cf">二级分类</a>
              </dt>
              <dd>
                <a href="#">
                  <img src="./default/img2.jpg" alt=""> 会员卡1</a>
              </dd>
              
            </dl>
         
          </div>
        </dd>
      </transition>
      </dl>
   
    </section>
    <div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
      <a href="#top" title="">
        <img class="am-gotop-icon-custom" src="default/goTop.gif" />
      </a>
    </div>
    <footer data-am-widget="footer" class="am-footer am-footer-default" data-am-footer="{  }">
      <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
      <div class="am-footer-miscs ">
        <p>CopyRight©2014 AllMobilize Inc.</p>
        <p>京ICP备13033158</p>
      </div>
    </footer>
    <!--底部-->
    <div data-am-widget="navbar" class="am-navbar am-cf my-nav-footer " id="">
      <ul class="am-navbar-nav am-cf am-avg-sm-4 my-footer-ul">
        <li>
          <a href="./index.html" class="">
            <span class="icon-homepage_fill iconfont"></span>
            <span class="am-navbar-label">首页</span>
          </a>
        </li>
        <li>
          <a href="./sort.html" class="active">
            <span class="icon-createtask iconfont"></span>
            <span class="am-navbar-label">分类</span>
          </a>
        </li>
        <li>
          <a href="./cart.html" class="">
            <span class="icon-publishgoods_fill iconfont"></span>
            <span class="am-navbar-label">购物车</span>
          </a>
        </li>
        <li style="position:relative">
          <a href="./user.html" class="">
            <span class="icon-people iconfont"></span>
            <span class="am-navbar-label">我的</span>
          </a>
        </li>
      </ul>
    </div>

  </div>
  <script src="./js/axios.min.js"></script>
  <script src="./js/sort.js"></script>
</body>

</html>