<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>商品详情页</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="./amazeui/css/amazeui.min.css" />
  <link rel="stylesheet" href="./default/style.css" />
  <link rel="stylesheet" href="./font/iconfont.css">
  <link rel="stylesheet" href="./css/dec.css">
  <script src="./js/vue.js"></script>
  <script src="./js/my.js"></script>
  <script src="./js/jquery-3.1.0.js"></script>
  <script src="./js/vue.time.js"></script>
  <script src="../js/main.js"></script>
</head>

<body>
  <div class="container" v-if="loading">
    <header data-am-widget="header" class="am-header am-header-default my-header">
      <div class="am-header-left am-header-nav">
        <a href="javascript: history.go(-2);" class="">
          <i class="iconfont icon-return"></i>
        </a>
      </div>
      <h1 class="am-header-title">
        <a href="#title-link" class="">{{shop.name}}</a>
      </h1>
      <div class="am-header-right am-header-nav">
        <a href="./index.html" class="">
          <i class="iconfont  icon-homepage_fill"></i>
        </a>
      </div>
    </header>
    <!-- banner -->
    <div class="carousel-wrap" id="carousel">
      <!-- 轮播图 -->
      <transition-group tag="ul" class='slide-ul' :name="transition" v-swipeleft="left" v-swiperight="right">
        <!-- 自定义事件 -->
        <li v-for="(list,index) in shop.images" :key="index" v-show="index===currentIndex">
          <a href="#">
            <img :src="list">
          </a>
        </li>
      </transition-group>
      <div class="carousel-items">
        <span v-for="(item,index) in shop.images.length" :class="{'active':index===currentIndex}"></span>
      </div>
    </div>
    <div class="gray-panel">
      <div class="paoduct-title-panel">
        <h1 class="product-h1">{{shop.name}}</h1>
        <p v-if="shop.shop_goods_sorts.length!=0">
          <span class="bold">价格：</span>
          <span class="red2">￥{{shop.shop_goods_sorts[sortIndex].price}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="product-title-gray-text">积分：{{shop.shop_goods_sorts[sortIndex].integration}}积分</span>
        </p>
        <p v-else>暂无商品数据</p>
      </div>

      <div class="my-search-title-panel">
        <p class="my-search-titp-p am-text-sm bold" v-if="shop.shop_goods_sorts.length!=0">选择分类</p>
        <p class="size-p" id="sizep" v-if="shop.shop_goods_sorts.length!=0">
          <span v-for="(v,index) in shop.shop_goods_sorts" @click="select(index)" :class="{active:index==sortIndex}">{{v.name}}</span>
        </p>
        <hr class="am-divider-default am-margin-bottom-sm" v-if="shop.shop_goods_sorts.length!=0" />
        <p class="my-search-titp-p am-text-sm bold">数量</p>
        <div style="overflow:hidden">
          <form class="am-form-inline" role="form">
            <button type="button" class="am-btn am-btn-default" style="float:left" @click="jian">
              <i class="am-icon-minus"></i>
            </button>
            <input type="number" name="txtQty" id="txtQty" class="am-form-field txt-qty am-text-center am-text-sm" v-model="num" style=" width:60px; margin-right:0px; height:37px; display:inline; float:left">
            <button type="button" class="am-btn am-btn-default" style="float:left" @click="add">
              <i class="am-icon-plus"></i>
            </button>
          </form>
        </div>
        <hr class="am-divider-default am-margin-bottom-sm" />
        <div>
          <ul class="am-avg-sm-2 am-text-center">
            <li class="am-text-center am-padding-sm">
              <button type="button" class="am-btn am-btn-success am-btn-block am-radius" @click="add_cart">加入购物车</button>
            </li>
            <li class="am-text-center am-padding-sm">
              <button type="button" class="am-btn am-btn-danger am-btn-block am-radius" @click="gobuy">立即购买</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 商品详情 -->

    <div data-am-widget="tabs" class="am-tabs am-tabs-d2">
      <ul class="am-tabs-nav am-cf">
        <li  :class="{'am-active':toggle}"   @click="getdec">
          <a href="javascript:;">详情</a>
        </li>
        <li :class="{'am-active':!toggle}" @click="get_ping">
          <a href="javascript:;">评价</a>
        </li>
      </ul>
      <div class="am-tabs-bd">
        <div data-tab-panel-0  class="am-tab-panel" :class="{'am-active':toggle}" v-html="shop.content"> </div>
        <div data-tab-panel-2  class="am-tab-panel  " :class="{'am-active':!toggle}">
          <div class="am-cf am-padding-sm">
            <ul class="am-comments-list am-comments-list-flip">
              <li class="am-comment" v-for="v in ping"> 
                <div class="am-comment-main">
                  <header class="am-comment-hd">
                    <div class="am-comment-meta">
                      <a href="#link-to-user" class="am-comment-author">{{v.username}}</a>
                      <time datetime="2013-07-27T04:54:29-07:00" class="am-fr">{{v.date|year}}-{{v.date|month|addzero}}-{{v.date|day|addzero}} {{v.date|hour|addzero}}:{{v.date|minutes|addzero}}</time>
                    </div>
                  </header>
                  <div class="am-comment-bd am-text-sm">
                    {{v.content}}
                    <div class="score">
                      <span class="iconfont" :class="{'icon-collection':j>v.star,'icon-collection_fill':j<=v.star}" v-for="j in 5"></span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>


  </div>
  </div>
  <script src="./js/axios.min.js"></script>
  <script src="./js/dec.js"></script>
</body>

</html>