.prize{
    display: block;
    height: 57px;
    padding-left: .71875rem;
    max-width: 540px;
    width: 90%;
    margin: 10px auto;
    border: solid 1px #d2d2d2;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px 0px #D5D2D2;
    background-color: #ffffff;
}
.icon_p::before{
    font-size:21px;
    line-height: 57px;
    font-weight: bold;
    color: #cd1317;
}
.jilu::before{
    font-size: 19px;
    margin-right: 2px;
}
.my_p{
    font-size: 16px;
    position: relative;
    top: -2px;
    left: 5px;
    color: #333;
}
.p_to{
    float: right;
    line-height: 57px;
    margin-right: .625rem;
    color: #cd1317;
}