*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.content{
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
}
.title{
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    border-bottom:1px solid #ccc;
}
.box{
    width: 100%;
}
.box .list{
    width: 100%;
    border-bottom: 1px dashed #ccc;
    box-sizing: border-box;
    padding:5px 0 5px 15px ;
    line-height: 30px;
    color: #333;
}
.box .list span{
    color: #666;
}